/* abcd.CSS 4.03 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.abcd-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.abcd-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.abcd-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.abcd-table,.abcd-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.abcd-table-all{border:1px solid #ccc}
.abcd-bordered tr,.abcd-table-all tr{border-bottom:1px solid #ddd}.abcd-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.abcd-table-all tr:nth-child(odd){background-color:#fff}.abcd-table-all tr:nth-child(even){background-color:#f1f1f1}
.abcd-hoverable tbody tr:hover,.abcd-ul.abcd-hoverable li:hover{background-color:#ccc}.abcd-centered tr th,.abcd-centered tr td{text-align:center}
.abcd-table td,.abcd-table th,.abcd-table-all td,.abcd-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.abcd-table th:first-child,.abcd-table td:first-child,.abcd-table-all th:first-child,.abcd-table-all td:first-child{padding-left:16px}
.abcd-btn,.abcd-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.abcd-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.abcd-btn,.abcd-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.abcd-disabled,.abcd-btn:disabled,.abcd-button:disabled{cursor:not-allowed;opacity:0.3}.abcd-disabled *,:disabled *{pointer-events:none}
.abcd-btn.abcd-disabled:hover,.abcd-btn:disabled:hover{box-shadow:none}
.abcd-badge,.abcd-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.abcd-badge{border-radius:50%}
.abcd-ul{list-style-type:none;padding:0;margin:0}.abcd-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.abcd-ul li:last-child{border-bottom:none}
.abcd-tooltip,.abcd-display-container{position:relative}.abcd-tooltip .abcd-text{display:none}.abcd-tooltip:hover .abcd-text{display:inline-block}
.abcd-ripple:active{opacity:0.5}.abcd-ripple{transition:opacity 0s}
.abcd-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.abcd-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.abcd-dropdown-click,.abcd-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.abcd-dropdown-hover:hover .abcd-dropdown-content{display:block;z-index:1}
.abcd-dropdown-hover:first-child,.abcd-dropdown-click:hover{background-color:#ccc;color:#000}
.abcd-dropdown-hover:hover > .abcd-button:first-child,.abcd-dropdown-click:hover > .abcd-button:first-child{background-color:#ccc;color:#000}
.abcd-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.abcd-check,.abcd-radio{width:24px;height:24px;position:relative;top:6px}
.abcd-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.abcd-bar-block .abcd-dropdown-hover,.abcd-bar-block .abcd-dropdown-click{width:100%}
.abcd-bar-block .abcd-dropdown-hover .abcd-dropdown-content,.abcd-bar-block .abcd-dropdown-click .abcd-dropdown-content{min-width:100%}
.abcd-bar-block .abcd-dropdown-hover .abcd-button,.abcd-bar-block .abcd-dropdown-click .abcd-button{width:100%;text-align:left;padding:8px 16px}
.abcd-main,#main{transition:margin-left .4s}
.abcd-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.abcd-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.abcd-bar{width:100%;overflow:hidden}.abcd-center .abcd-bar{display:inline-block;width:auto}
.abcd-bar .abcd-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.abcd-bar .abcd-dropdown-hover,.abcd-bar .abcd-dropdown-click{position:static;float:left}
.abcd-bar .abcd-button{white-space:normal}
.abcd-bar-block .abcd-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal}
.abcd-bar-block.abcd-center .abcd-bar-item{text-align:center}.abcd-block{display:block;width:100%}
.abcd-responsive{overflow-x:auto}
.abcd-container:after,.abcd-container:before,.abcd-panel:after,.abcd-panel:before,.abcd-row:after,.abcd-row:before,.abcd-row-padding:after,.abcd-row-padding:before,
.abcd-cell-row:before,.abcd-cell-row:after,.abcd-clear:after,.abcd-clear:before,.abcd-bar:before,.abcd-bar:after{content:"";display:table;clear:both}
.abcd-col,.abcd-half,.abcd-third,.abcd-twothird,.abcd-threequarter,.abcd-quarter{float:left;width:100%}
.abcd-col.s1{width:8.33333%}.abcd-col.s2{width:16.66666%}.abcd-col.s3{width:24.99999%}.abcd-col.s4{width:33.33333%}
.abcd-col.s5{width:41.66666%}.abcd-col.s6{width:49.99999%}.abcd-col.s7{width:58.33333%}.abcd-col.s8{width:66.66666%}
.abcd-col.s9{width:74.99999%}.abcd-col.s10{width:83.33333%}.abcd-col.s11{width:91.66666%}.abcd-col.s12{width:99.99999%}
@media (min-width:601px){.abcd-col.m1{width:8.33333%}.abcd-col.m2{width:16.66666%}.abcd-col.m3,.abcd-quarter{width:24.99999%}.abcd-col.m4,.abcd-third{width:33.33333%}
.abcd-col.m5{width:41.66666%}.abcd-col.m6,.abcd-half{width:49.99999%}.abcd-col.m7{width:58.33333%}.abcd-col.m8,.abcd-twothird{width:66.66666%}
.abcd-col.m9,.abcd-threequarter{width:74.99999%}.abcd-col.m10{width:83.33333%}.abcd-col.m11{width:91.66666%}.abcd-col.m12{width:99.99999%}}
@media (min-width:993px){.abcd-col.l1{width:8.33333%}.abcd-col.l2{width:16.66666%}.abcd-col.l3{width:24.99999%}.abcd-col.l4{width:33.33333%}
.abcd-col.l5{width:41.66666%}.abcd-col.l6{width:49.99999%}.abcd-col.l7{width:58.33333%}.abcd-col.l8{width:66.66666%}
.abcd-col.l9{width:74.99999%}.abcd-col.l10{width:83.33333%}.abcd-col.l11{width:91.66666%}.abcd-col.l12{width:99.99999%}}
.abcd-content{max-width:980px;margin:auto}.abcd-rest{overflow:hidden}
.abcd-cell-row{display:table;width:100%}.abcd-cell{display:table-cell}
.abcd-cell-top{vertical-align:top}.abcd-cell-middle{vertical-align:middle}.abcd-cell-bottom{vertical-align:bottom}
.abcd-hide{display:none!important}.abcd-show-block,.abcd-show{display:block!important}.abcd-show-inline-block{display:inline-block!important}
@media (max-width:600px){.abcd-modal-content{margin:0 10px;width:auto!important}.abcd-modal{padding-top:30px}
.abcd-dropdown-hover.abcd-mobile .abcd-dropdown-content,.abcd-dropdown-click.abcd-mobile .abcd-dropdown-content{position:relative}	
.abcd-hide-small{display:none!important}.abcd-mobile{display:block;width:100%!important}.abcd-bar-item.abcd-mobile,.abcd-dropdown-hover.abcd-mobile,.abcd-dropdown-click.abcd-mobile{text-align:center}
.abcd-dropdown-hover.abcd-mobile,.abcd-dropdown-hover.abcd-mobile .abcd-btn,.abcd-dropdown-hover.abcd-mobile .abcd-button,.abcd-dropdown-click.abcd-mobile,.abcd-dropdown-click.abcd-mobile .abcd-btn,.abcd-dropdown-click.abcd-mobile .abcd-button{width:100%}}
@media (max-width:768px){.abcd-modal-content{width:500px}.abcd-modal{padding-top:50px}}
@media (min-width:993px){.abcd-modal-content{width:900px}.abcd-hide-large{display:none!important}.abcd-sidebar.abcd-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.abcd-hide-medium{display:none!important}}
@media (max-width:992px){.abcd-sidebar.abcd-collapse{display:none}.abcd-main{margin-left:0!important;margin-right:0!important}}
.abcd-top,.abcd-bottom{position:fixed;width:100%;z-index:1}.abcd-top{top:0}.abcd-bottom{bottom:0}
.abcd-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.abcd-display-topleft{position:absolute;left:0;top:0}.abcd-display-topright{position:absolute;right:0;top:0}
.abcd-display-bottomleft{position:absolute;left:0;bottom:0}.abcd-display-bottomright{position:absolute;right:0;bottom:0}
.abcd-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.abcd-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.abcd-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.abcd-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.abcd-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.abcd-display-container:hover .abcd-display-hover{display:block}.abcd-display-container:hover span.abcd-display-hover{display:inline-block}.abcd-display-hover{display:none}
.abcd-display-position{position:absolute}
.abcd-circle{border-radius:50%}
.abcd-round-small{border-radius:2px}.abcd-round,.abcd-round-medium{border-radius:4px}.abcd-round-large{border-radius:8px}.abcd-round-xlarge{border-radius:16px}.abcd-round-xxlarge{border-radius:32px}
.abcd-row-padding,.abcd-row-padding>.abcd-half,.abcd-row-padding>.abcd-third,.abcd-row-padding>.abcd-twothird,.abcd-row-padding>.abcd-threequarter,.abcd-row-padding>.abcd-quarter,.abcd-row-padding>.abcd-col{padding:0 8px}
.abcd-container,.abcd-panel{padding:0.01em 16px}.abcd-panel{margin-top:16px;margin-bottom:16px}
.abcd-code,.abcd-codespan{font-family:Consolas,"courier new";font-size:16px}
.abcd-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.abcd-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.abcd-card,.abcd-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.abcd-card-4,.abcd-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.abcd-spin{animation:abcd-spin 2s infinite linear}@keyframes abcd-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.abcd-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.abcd-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.abcd-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.abcd-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.abcd-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.abcd-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.abcd-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.abcd-animate-input{transition:width 0.4s ease-in-out}.abcd-animate-input:focus{width:100%!important}
.abcd-opacity,.abcd-hover-opacity:hover{opacity:0.60}.abcd-opacity-off,.abcd-hover-opacity-off:hover{opacity:1}
.abcd-opacity-max{opacity:0.25}.abcd-opacity-min{opacity:0.75}
.abcd-greyscale-max,.abcd-grayscale-max,.abcd-hover-greyscale:hover,.abcd-hover-grayscale:hover{filter:grayscale(100%)}
.abcd-greyscale,.abcd-grayscale{filter:grayscale(75%)}.abcd-greyscale-min,.abcd-grayscale-min{filter:grayscale(50%)}
.abcd-sepia{filter:sepia(75%)}.abcd-sepia-max,.abcd-hover-sepia:hover{filter:sepia(100%)}.abcd-sepia-min{filter:sepia(50%)}
.abcd-tiny{font-size:10px!important}.abcd-small{font-size:12px!important}.abcd-medium{font-size:15px!important}.abcd-large{font-size:18px!important}
.abcd-xlarge{font-size:24px!important}.abcd-xxlarge{font-size:36px!important}.abcd-xxxlarge{font-size:48px!important}.abcd-jumbo{font-size:64px!important}
.abcd-left-align{text-align:left!important}.abcd-right-align{text-align:right!important}.abcd-justify{text-align:justify!important}.abcd-center{text-align:center!important}
.abcd-border-0{border:0!important}.abcd-border{border:1px solid #ccc!important}
.abcd-border-top{border-top:1px solid #ccc!important}.abcd-border-bottom{border-bottom:1px solid #ccc!important}
.abcd-border-left{border-left:1px solid #ccc!important}.abcd-border-right{border-right:1px solid #ccc!important}
.abcd-topbar{border-top:6px solid #ccc!important}.abcd-bottombar{border-bottom:6px solid #ccc!important}
.abcd-leftbar{border-left:6px solid #ccc!important}.abcd-rightbar{border-right:6px solid #ccc!important}
.abcd-section,.abcd-code{margin-top:16px!important;margin-bottom:16px!important}
.abcd-margin{margin:16px!important}.abcd-margin-top{margin-top:16px!important}.abcd-margin-bottom{margin-bottom:16px!important}
.abcd-margin-left{margin-left:16px!important}.abcd-margin-right{margin-right:16px!important}
.abcd-padding-small{padding:4px 8px!important}.abcd-padding{padding:8px 16px!important}.abcd-padding-large{padding:12px 24px!important}
.abcd-padding-16{padding-top:16px!important;padding-bottom:16px!important}.abcd-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.abcd-padding-32{padding-top:32px!important;padding-bottom:32px!important}.abcd-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.abcd-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.abcd-left{float:left!important}.abcd-right{float:right!important}
.abcd-button:hover{color:#000!important;background-color:#ccc!important}
.abcd-transparent,.abcd-hover-none:hover{background-color:transparent!important}
.abcd-hover-none:hover{box-shadow:none!important}
/* Colors */
.abcd-amber,.abcd-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.abcd-aqua,.abcd-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.abcd-blue,.abcd-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.abcd-light-blue,.abcd-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.abcd-brown,.abcd-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.abcd-cyan,.abcd-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.abcd-blue-grey,.abcd-hover-blue-grey:hover,.abcd-blue-gray,.abcd-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.abcd-green,.abcd-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.abcd-light-green,.abcd-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.abcd-indigo,.abcd-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.abcd-khaki,.abcd-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.abcd-lime,.abcd-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.abcd-orange,.abcd-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.abcd-deep-orange,.abcd-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.abcd-pink,.abcd-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.abcd-purple,.abcd-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.abcd-deep-purple,.abcd-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.abcd-red,.abcd-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.abcd-sand,.abcd-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.abcd-teal,.abcd-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.abcd-yellow,.abcd-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.abcd-white,.abcd-hover-white:hover{color:#000!important;background-color:#fff!important}
.abcd-black,.abcd-hover-black:hover{color:#fff!important;background-color:#000!important}
.abcd-grey,.abcd-hover-grey:hover,.abcd-gray,.abcd-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.abcd-light-grey,.abcd-hover-light-grey:hover,.abcd-light-gray,.abcd-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.abcd-dark-grey,.abcd-hover-dark-grey:hover,.abcd-dark-gray,.abcd-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.abcd-pale-red,.abcd-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.abcd-pale-green,.abcd-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.abcd-pale-yellow,.abcd-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.abcd-pale-blue,.abcd-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.abcd-text-red,.abcd-hover-text-red:hover{color:#f44336!important}
.abcd-text-green,.abcd-hover-text-green:hover{color:#4CAF50!important}
.abcd-text-blue,.abcd-hover-text-blue:hover{color:#2196F3!important}
.abcd-text-yellow,.abcd-hover-text-yellow:hover{color:#ffeb3b!important}
.abcd-text-white,.abcd-hover-text-white:hover{color:#fff!important}
.abcd-text-black,.abcd-hover-text-black:hover{color:#000!important}
.abcd-text-grey,.abcd-hover-text-grey:hover,.abcd-text-gray,.abcd-hover-text-gray:hover{color:#757575!important}
.abcd-text-amber{color:#ffc107!important}
.abcd-text-aqua{color:#00ffff!important}
.abcd-text-light-blue{color:#87CEEB!important}
.abcd-text-brown{color:#795548!important}
.abcd-text-cyan{color:#00bcd4!important}
.abcd-text-blue-grey,.abcd-text-blue-gray{color:#607d8b!important}
.abcd-text-light-green{color:#8bc34a!important}
.abcd-text-indigo{color:#3f51b5!important}
.abcd-text-khaki{color:#b4aa50!important}
.abcd-text-lime{color:#cddc39!important}
.abcd-text-orange{color:#ff9800!important}
.abcd-text-deep-orange{color:#ff5722!important}
.abcd-text-pink{color:#e91e63!important}
.abcd-text-purple{color:#9c27b0!important}
.abcd-text-deep-purple{color:#673ab7!important}
.abcd-text-sand{color:#fdf5e6!important}
.abcd-text-teal{color:#009688!important}
.abcd-text-light-grey,.abcd-hover-text-light-grey:hover,.abcd-text-light-gray,.abcd-hover-text-light-gray:hover{color:#f1f1f1!important}
.abcd-text-dark-grey,.abcd-hover-text-dark-grey:hover,.abcd-text-dark-gray,.abcd-hover-text-dark-gray:hover{color:#3a3a3a!important}
.abcd-border-red,.abcd-hover-border-red:hover{border-color:#f44336!important}
.abcd-border-green,.abcd-hover-border-green:hover{border-color:#4CAF50!important}
.abcd-border-blue,.abcd-hover-border-blue:hover{border-color:#2196F3!important}
.abcd-border-yellow,.abcd-hover-border-yellow:hover{border-color:#ffeb3b!important}
.abcd-border-white,.abcd-hover-border-white:hover{border-color:#fff!important}
.abcd-border-black,.abcd-hover-border-black:hover{border-color:#000!important}
.abcd-border-grey,.abcd-hover-border-grey:hover,.abcd-border-gray,.abcd-hover-border-gray:hover{border-color:#bbb!important}